* {
  padding: 0;
  margin: 0;
  font-family: "Exo 2", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.Toastify__toast {
  font-size: 16px;
  padding: 0px 16px;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .Toastify__toast {
    font-size: 14px !important;
    padding: 0px !important;
    width: 70% !important;
    margin: 0 auto !important;
    margin-bottom: 10px !important;
  }

  .Toastify__toast-container--bottom-center {
    bottom: 20px !important;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #111;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #60a5fa 0%, #a78bfa 100%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #3b82f6 0%, #9333ea 100%) !important;
}

::-webkit-scrollbar-button {
  display: none;
  color: transparent;
  width: 0;
  height: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #8c6dfb #111;
}