* {
  padding: 0;
  margin: 0;
  font-family: "Exo 2", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #D62929 transparent;
  background-color: black !important;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 10px;
  box-shadow: none !important;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #3c8beb 0%, #a78bfa 100%);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.Toastify__toast {
  font-size: 16px;
  padding: 0px 16px;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .Toastify__toast {
    font-size: 14px !important;
    padding: 0px !important;
    width: 70% !important;
    margin: 0 auto !important;
    margin-bottom: 10px !important;
  }

  .Toastify__toast-container--bottom-center {
    bottom: 20px !important;
  }
}